#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a TeaSpeak instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=TeaSpeak server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/mkdir -p %S/state/config
ExecStartPre=/bin/mkdir -p %S/state/runtime
ExecStartPre=/bin/rm -f %t/teaspeak.pid %t/teaspeak.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/teaspeak.pid \
    --cidfile=%t/teaspeak.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=9987:9987/udp \
    --publish=9987:9987/tcp \
    --publish=10101:10101/tcp \
    --publish=30303:30303/tcp \
    --volume=database:/ts/database \
    --volume=files:/ts/files \
    --volume=logs:/ts/logs \
    --volume=certs:/ts/certs \
    --volume=crashdumps:/ts/crash_dumps \
    --volume=./config:/ts/config:Z \
    --volume=./runtime:/ts/module_state:Z \
    --env=TZ=${TIMEZONE} \
    ${TEASPEAK_SERVICE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/teaspeak.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/teaspeak.ctr-id
PIDFile=%t/teaspeak.pid
Type=forking

[Install]
WantedBy=default.target